*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,li{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.babes{
    font-family: 'Bebas Neue', sans-serif;
}
